/argv_split/argv_split_kicad/~argv_split_kicad.kicad_sch.lck
/argv_split/argv_split_kicad/.history
/argv_split/argv_split_kicad/~argv_split_kicad.kicad_pcb.lck
/argv_split/argv_split_kicad/~argv_split_kicad.kicad_pro.lck
/argv_split/argv_split_kicad/kbplacer.log
